version: 2.1
orbs:
  # orgs contain basc recipes and reproducible actions (install node, aws, etc.)
  node: circleci/node@5.0.2
  eb: circleci/aws-elastic-beanstalk@2.0.1
  aws-cli: circleci/aws-cli@3.1.1
  # different jobs are calles later in the workflows sections
jobs:
  build:
    docker:
      # the base image can run most needed actions with orbs
      - image: 'cimg/node:14.15'
    steps:
      # install node and checkout code
      - node/install:
          node-version: '14.15'
      - checkout
      - eb/setup
      - run:
          name: Setup Custom environment variables
          command: |
            echo "AWS_ACCESS_KEY_ID " ${AWS_ACCESS_KEY_ID}
            eb setenv AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
            echo "AWS_SECRET_ACCESS_KEY " ${AWS_SECRET_ACCESS_KEY}
            eb setenv AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
            echo "AWS_BUCKET " ${AWS_BUCKET}
            eb setenv AWS_BUCKET=${AWS_BUCKET}
            echo "AWS_DEFAULT_REGION " ${AWS_DEFAULT_REGION}
            eb setenv AWS_DEFAULT_REGION=${AWS_DEFAULT_REGION}
            echo "AWS_PROFILE " ${AWS_PROFILE}
            eb setenv AWS_PROFILE=${AWS_PROFILE}
            echo "AWS_REGION " ${AWS_REGION}
            eb setenv AWS_REGION=${AWS_REGION}
            echo "JWT_SECRET " ${JWT_SECRET}
            eb setenv JWT_SECRET=${JWT_SECRET}
            echo "POSTGRES_DB " ${POSTGRES_DB}
            eb setenv POSTGRES_DB=${POSTGRES_DB}
            echo "POSTGRES_HOST " ${POSTGRES_HOST}
            eb setenv POSTGRES_HOST=${POSTGRES_HOST}
            echo "POSTGRES_PASSWORD " ${POSTGRES_PASSWORD}
            eb setenv POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            echo "POSTGRES_USERNAME " ${POSTGRES_USERNAME}
            eb setenv POSTGRES_USERNAME=${POSTGRES_USERNAME}
      # Use root level package.json to install dependencies in the frontend app
      - run:
          name: Install Front-End Dependencies
          command: |
            echo "NODE --version" 
            echo $(node --version)
            echo "NPM --version" 
            echo $(npm --version)
            npm run frontend:install
      # TODO: Install dependencies in the the backend API
      - run:
          name: Install API Dependencies
          command: |
            echo "Install dependencies in the the backend API"
            npm run api:install
      # TODO: Lint the frontend
      - run:
          name: Front-End Lint
          command: |
            echo "Lint the frontend"
            npm run frontend:lint
      # TODO: Build the frontend app
      - run:
          name: Front-End Build
          command: |
            echo "Build the frontend app"
            npm run frontend:build
      # TODO: Build the backend API
      - run:
          name: API Build
          command: |
            echo "Build the backend API"
            npm run api:build
  # deploy step will run only after manual approval
  deploy:
    docker:
      - image: 'cimg/base:stable'
      # more setup needed for aws, node, elastic beanstalk
    steps:
      - node/install:
          node-version: '14.15'
      - eb/setup
      - aws-cli/setup
      - checkout
      - run:
          name: Deploy App
          # TODO: Install, build, deploy in both apps
          command: |
            echo "Install, build, deploy in both apps"
            npm run deploy

workflows:
  udagram:
    jobs:
      - build
      - hold:
          filters:
            branches:
              only:
                - main
          type: approval
          requires:
            - build
      - deploy:
          requires:
            - hold
